@import "variables";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

// font-family: 'Bruno Ace', cursive;
// font-family: 'Bungee Spice', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nabla', cursive;

input {
  font-size: 16px;
}

button {
  color: #fff;
  background-color: inherit;
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}


a {
  text-decoration: none;
}
