//Midnight Blues:

$darkBlue1 :#0D1B2A;
$darkBlue2 :#1B263B;
$darkBlue3 :#415A77;
$darkBlue4 :#778DA9;
$darkBlue5 :#E0E1DD;
//Dark Jewel Tones:

$jewel1 :#4C516D;
$jewel2 :#825E73;
$jewel3 :#8B5F7D;
$jewel4 :#9B7692;
$jewel5 :#D6A2AD;
//Moody Earth Tones:

$moody1:#5D534C;
$moody2:#877B6A;
$moody3:#A69F93;
$moody4:#C0B7A7;
$moody5:#E3D3C1;
//Shadowy Neutrals:

$shadows1:#3B3C36;
$shadows2:#53584D;
$shadows3:#7C7F6D;
$shadows4:#B3B398;
$shadows5:#D4D1C7;



//Dark and Stormy:
$darkStormy1:#2E2E2E;
$darkStormy2:#595959;
$darkStormy3:#848484;
$darkStormy4:#BDBDBD;
$darkStormy5:#EAEAEA;